[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"
pytest = "*"
pytest-cov = "*"

[packages]
flask = "==2.1.1"
gunicorn = "==20.1.0"
flask-sqlalchemy = "*"

[requires]
python_version = "3.9"
